<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>帝国网站管理系统 - 官方网站,郑州妈妈首选育儿、情感、生活等交流互动平台</title>
		<meta name="keywords" content="帝国网站管理系统,EmpireCMS" />
		<meta name="description" content="　　帝国软件是一家专注于网络软件开发的科技公司，其主营产品“帝国网站管理系统(EmpireCMS)”是目前国内应用最广泛的CMS程序。通过十多年的不断创新与完善，使系统集安全、稳定、强大、灵活于一身。目前EmpireCMS程序已经广泛应用在国内上百万家网站，覆盖国内上千万上网人群，并经过上千家知名网站的严格检测，被称为国内最安全、最稳定的开源CMS系统。" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/public/pintuer/pintuer.css">
		<link rel="stylesheet" href="/public/layui/css/layui.css">
		<link rel="stylesheet" href="/public/css/css.css">
		<script src="/public/pintuer/jquery.js"></script>
		<script src="/public/layui/lay/dest/layui.all.js"></script>
		<script src="/public/pintuer/pintuer.js"></script>
		<script src="/public/js/ajax.js"></script>
		<!--[if lt IE 9]>
		<script src="/public/js/respond.min.js"></script>
		<script src="/public/js/html5shiv.min.js"></script>
		<![endif]-->
		<script src="/public/js/header.js"></script>
	</head>

	<body>
		<div class="layout navbar navbar-big bg-red bg-inverse doc-header">
	<div class="container">
		<div class="line">
			<div class="xs3 xm3 xb2">
				<div class="navbar-head">
					<button class="button bg icon-navicon" data-target="#navbar-big2">
										</button>
					<a href="/">
						<img src="/public/images/logo.png" alt="大河妈妈网" class="logo" />
					</a>
				</div>

			</div>
			<div class="xl12 xs9 xm9 xb10">
				<div class="navbar-body nav-navicon" id="navbar-big2">
					<ul class="nav nav-inline nav-menu nav-big text-right">
															<li class="">
								<a href="/views/news/" class="">
									新闻								</a>
							</li>
																		<li class="">
								<a href="/views/download/" class="">
									下载								</a>
							</li>
																		<li class="">
								<a href="/views/movie/" class="">
									影视								</a>
							</li>
																		<li class="">
								<a href="/views/shop/" class="">
									商城								</a>
							</li>
																		<li class="">
								<a href="/views/flash/" class="">
									FLASH								</a>
							</li>
																		<li class="">
								<a href="/views/photo/" class="">
									图片								</a>
							</li>
																		<li class="">
								<a href="/views/article/" class="">
									文章								</a>
							</li>
																		<li class="">
								<a href="/views/info/" class="">
									分类								</a>
							</li>
												</ul>
				</div>
				<ul class="nav nav-inline nav-big nav-menu navbar-right">
					<script>
						document.write('<script src="/views/e/member/login/loginjs.php?t=' + Math.random() + '"><' + '/script>');
					</script>
				</ul>
			</div>
		</div>
	</div>
</div>
<br />
		<div class="container">
			<div class="line-big">
				<div class="xl12 xs12 xm6 xb9">
<ul class="bread radius-none bg">
					<span class="icon-home"></span> 当前位置：<a href="/views/">首页</a><span class="float-right"><a href="javascript:;" onclick="layerqr('//','300px','300px');"  class="tips" data-toggle="hover" data-style="bg-yellow border-red" data-place="left" title="点击扫描二维码穿越到手机浏览"><span class="icon-qrcode"> 二维码</span></a>
					</span>
				</ul>
					<div class="home-index-lists">
<div class="panel bg-white">
		<ul class="list-group">


			<li>
				<div class="media media-x">
					<a class="float-left" href="/views/e/space/?userid=1">
						<img src="/public/img/user.jpg" class="radius-circle" style="width:60px;height: 60px;" alt="...">
					</a>
					<div class="media-body">
						<div class="">不知何网<i class="text-gray text-small margin-left margin-right">普通会员</i>
													<span class="badge bg-main">普通会员</span>
												</div>
                                                <div class="text-big padding-top"><strong><a href="/views/news/sports/2012-12-10/78.html" target="_blank">中国男乒第16次捧起斯韦思林杯</a></strong></div>
						<div class="content-sns-text text-big height">
							第49届世乒赛男团决赛的争夺，中国队最终凭借马琳、王皓和王励勤三员虎将的出色发挥以3比0干净利落的击败韩国队，延续了世乒赛上逢韩必胜的历史，历史上第16次捧起斯韦思林杯！
						</div>
						<div class="text-gray">
<span class="text-gray text-small float-right">
<a class="text-gray icon-thumbs-o-up padding-left text-yellow" href="javascript:void(0)" onclick="DoDigg(37,78,1);"> 顶 (<span class="diggtop78">0</span>)</a>
<a class="text-gray icon-thumbs-o-down padding-left" href="javascript:void(0)" onclick="DoDigg(37,78,0);"> 踩(<span class="diggdown78">[!--diggdown--]</span>)</a>
<a class="text-gray padding-left icon-comment-o" href="/views/e/pl/?classid=37&id=78#plbox" target="_blank"> 评论(0)</a>
<a class="text-gray icon-smile-o padding-left" href="/views/news/sports/2012-12-10/78.html" target="_blank"> 阅读(29)</a>
<a class="text-gray icon-share-square-o padding-left" href="javascript:void(0)" onclick="DoShare(37,78);"> 分享</a>
</span>2012-12-10 15:28:38
						</div>
					</div>
				</div>
			</li>


			<li>
				<div class="media media-x">
					<a class="float-left" href="/views/e/space/?userid=1">
						<img src="/public/img/user.jpg" class="radius-circle" style="width:60px;height: 60px;" alt="...">
					</a>
					<div class="media-body">
						<div class="">不知何网<i class="text-gray text-small margin-left margin-right">普通会员</i>
													<span class="badge bg-main">普通会员</span>
												</div>
                                                <div class="text-big padding-top"><strong><a href="/views/news/sports/2012-12-10/77.html" target="_blank">科比专为大场面而生</a></strong></div>
						<div class="content-sns-text text-big height">
							成名这么久远了，科比终于被证实“最有价值”。
						</div>
						<div class="text-gray">
<span class="text-gray text-small float-right">
<a class="text-gray icon-thumbs-o-up padding-left text-yellow" href="javascript:void(0)" onclick="DoDigg(37,77,1);"> 顶 (<span class="diggtop77">0</span>)</a>
<a class="text-gray icon-thumbs-o-down padding-left" href="javascript:void(0)" onclick="DoDigg(37,77,0);"> 踩(<span class="diggdown77">[!--diggdown--]</span>)</a>
<a class="text-gray padding-left icon-comment-o" href="/views/e/pl/?classid=37&id=77#plbox" target="_blank"> 评论(0)</a>
<a class="text-gray icon-smile-o padding-left" href="/views/news/sports/2012-12-10/77.html" target="_blank"> 阅读(0)</a>
<a class="text-gray icon-share-square-o padding-left" href="javascript:void(0)" onclick="DoShare(37,77);"> 分享</a>
</span>2012-12-10 15:28:37
						</div>
					</div>
				</div>
			</li>


			<li>
				<div class="media media-x">
					<a class="float-left" href="/views/e/space/?userid=1">
						<img src="/public/img/user.jpg" class="radius-circle" style="width:60px;height: 60px;" alt="...">
					</a>
					<div class="media-body">
						<div class="">不知何网<i class="text-gray text-small margin-left margin-right">普通会员</i>
													<span class="badge bg-main">普通会员</span>
												</div>
                                                <div class="text-big padding-top"><strong><a href="/views/news/ent/2012-12-10/76.html" target="_blank">“最美清洁工”原是《赤壁》宫女</a></strong></div>
						<div class="content-sns-text text-big height">
							2008北京车展4月23日刚刚落幕，“最美清洁工”迅速走红网络。这位躲在车展角落毫不起眼的清洁工美女，在有心人士的偷拍下，照片一经放到网上就引来网友热捧。
						</div>
						<div class="text-gray">
<span class="text-gray text-small float-right">
<a class="text-gray icon-thumbs-o-up padding-left text-yellow" href="javascript:void(0)" onclick="DoDigg(36,76,1);"> 顶 (<span class="diggtop76">0</span>)</a>
<a class="text-gray icon-thumbs-o-down padding-left" href="javascript:void(0)" onclick="DoDigg(36,76,0);"> 踩(<span class="diggdown76">[!--diggdown--]</span>)</a>
<a class="text-gray padding-left icon-comment-o" href="/views/e/pl/?classid=36&id=76#plbox" target="_blank"> 评论(0)</a>
<a class="text-gray icon-smile-o padding-left" href="/views/news/ent/2012-12-10/76.html" target="_blank"> 阅读(0)</a>
<a class="text-gray icon-share-square-o padding-left" href="javascript:void(0)" onclick="DoShare(36,76);"> 分享</a>
</span>2012-12-10 15:28:36
						</div>
					</div>
				</div>
			</li>


			<li>
				<div class="media media-x">
					<a class="float-left" href="/views/e/space/?userid=1">
						<img src="/public/img/user.jpg" class="radius-circle" style="width:60px;height: 60px;" alt="...">
					</a>
					<div class="media-body">
						<div class="">不知何网<i class="text-gray text-small margin-left margin-right">普通会员</i>
													<span class="badge bg-main">普通会员</span>
												</div>
                                                <div class="text-big padding-top"><strong><a href="/views/news/ent/2012-12-10/75.html" target="_blank">尹馨大胆亮相《男人装》 嫩肤美腿勾人魂</a></strong></div>
						<div class="content-sns-text text-big height">
							蔡明亮徒弟之作《帮帮我爱神》女主角尹馨的大胆出演，足以挑战《色戒》中汤唯的情色。尹馨在5月份的《男人装》中有出色亮相。
						</div>
						<div class="text-gray">
<span class="text-gray text-small float-right">
<a class="text-gray icon-thumbs-o-up padding-left text-yellow" href="javascript:void(0)" onclick="DoDigg(36,75,1);"> 顶 (<span class="diggtop75">0</span>)</a>
<a class="text-gray icon-thumbs-o-down padding-left" href="javascript:void(0)" onclick="DoDigg(36,75,0);"> 踩(<span class="diggdown75">[!--diggdown--]</span>)</a>
<a class="text-gray padding-left icon-comment-o" href="/views/e/pl/?classid=36&id=75#plbox" target="_blank"> 评论(0)</a>
<a class="text-gray icon-smile-o padding-left" href="/views/news/ent/2012-12-10/75.html" target="_blank"> 阅读(0)</a>
<a class="text-gray icon-share-square-o padding-left" href="javascript:void(0)" onclick="DoShare(36,75);"> 分享</a>
</span>2012-12-10 15:28:35
						</div>
					</div>
				</div>
			</li>


			<li>
				<div class="media media-x">
					<a class="float-left" href="/views/e/space/?userid=1">
						<img src="/public/img/user.jpg" class="radius-circle" style="width:60px;height: 60px;" alt="...">
					</a>
					<div class="media-body">
						<div class="">不知何网<i class="text-gray text-small margin-left margin-right">普通会员</i>
													<span class="badge bg-main">普通会员</span>
												</div>
                                                <div class="text-big padding-top"><strong><a href="/views/news/ent/2012-12-10/74.html" target="_blank">传张艺谋因执导奥运身价涨5倍</a></strong></div>
						<div class="content-sns-text text-big height">
							2008北京奥运会的开幕式已开始了彩排，作为总导演的张艺谋坦言，执导奥运会的压力远大过执导电影。而由于导演了奥运会这样的人类盛典，张艺谋导演身价上涨了5倍以上。
						</div>
						<div class="text-gray">
<span class="text-gray text-small float-right">
<a class="text-gray icon-thumbs-o-up padding-left text-yellow" href="javascript:void(0)" onclick="DoDigg(36,74,1);"> 顶 (<span class="diggtop74">0</span>)</a>
<a class="text-gray icon-thumbs-o-down padding-left" href="javascript:void(0)" onclick="DoDigg(36,74,0);"> 踩(<span class="diggdown74">[!--diggdown--]</span>)</a>
<a class="text-gray padding-left icon-comment-o" href="/views/e/pl/?classid=36&id=74#plbox" target="_blank"> 评论(0)</a>
<a class="text-gray icon-smile-o padding-left" href="/views/news/ent/2012-12-10/74.html" target="_blank"> 阅读(0)</a>
<a class="text-gray icon-share-square-o padding-left" href="javascript:void(0)" onclick="DoShare(36,74);"> 分享</a>
</span>2012-12-10 15:28:34
						</div>
					</div>
				</div>
			</li>


			<li>
				<div class="media media-x">
					<a class="float-left" href="/views/e/space/?userid=1">
						<img src="/public/img/user.jpg" class="radius-circle" style="width:60px;height: 60px;" alt="...">
					</a>
					<div class="media-body">
						<div class="">不知何网<i class="text-gray text-small margin-left margin-right">普通会员</i>
													<span class="badge bg-main">普通会员</span>
												</div>
                                                <div class="text-big padding-top"><strong><a href="/views/news/ent/2012-12-10/73.html" target="_blank">张曼玉广告写真花絮曝光 流露优雅从容</a></strong></div>
						<div class="content-sns-text text-big height">
							张曼玉最近一组广告写真花絮曝光，照片中的张曼玉风采依旧，透露优雅气质。
						</div>
						<div class="text-gray">
<span class="text-gray text-small float-right">
<a class="text-gray icon-thumbs-o-up padding-left text-yellow" href="javascript:void(0)" onclick="DoDigg(36,73,1);"> 顶 (<span class="diggtop73">0</span>)</a>
<a class="text-gray icon-thumbs-o-down padding-left" href="javascript:void(0)" onclick="DoDigg(36,73,0);"> 踩(<span class="diggdown73">[!--diggdown--]</span>)</a>
<a class="text-gray padding-left icon-comment-o" href="/views/e/pl/?classid=36&id=73#plbox" target="_blank"> 评论(0)</a>
<a class="text-gray icon-smile-o padding-left" href="/views/news/ent/2012-12-10/73.html" target="_blank"> 阅读(0)</a>
<a class="text-gray icon-share-square-o padding-left" href="javascript:void(0)" onclick="DoShare(36,73);"> 分享</a>
</span>2012-12-10 15:28:33
						</div>
					</div>
				</div>
			</li>


			<li>
				<div class="media media-x">
					<a class="float-left" href="/views/e/space/?userid=1">
						<img src="/public/img/user.jpg" class="radius-circle" style="width:60px;height: 60px;" alt="...">
					</a>
					<div class="media-body">
						<div class="">不知何网<i class="text-gray text-small margin-left margin-right">普通会员</i>
													<span class="badge bg-main">普通会员</span>
												</div>
                                                <div class="text-big padding-top"><strong><a href="/views/news/world/2012-12-10/72.html" target="_blank">中国紧急援助物资运抵缅甸仰光(组图)</a></strong></div>
						<div class="content-sns-text text-big height">
							中国政府向缅甸提供的人道主义紧急援助物资当日空运抵达仰光国际机场。这批物资主要包括帐篷、毛巾被和压缩饼干等，价值50万美元。中国政府还向缅甸提供了50万美元的现汇援助。
						</div>
						<div class="text-gray">
<span class="text-gray text-small float-right">
<a class="text-gray icon-thumbs-o-up padding-left text-yellow" href="javascript:void(0)" onclick="DoDigg(35,72,1);"> 顶 (<span class="diggtop72">0</span>)</a>
<a class="text-gray icon-thumbs-o-down padding-left" href="javascript:void(0)" onclick="DoDigg(35,72,0);"> 踩(<span class="diggdown72">[!--diggdown--]</span>)</a>
<a class="text-gray padding-left icon-comment-o" href="/views/e/pl/?classid=35&id=72#plbox" target="_blank"> 评论(0)</a>
<a class="text-gray icon-smile-o padding-left" href="/views/news/world/2012-12-10/72.html" target="_blank"> 阅读(11)</a>
<a class="text-gray icon-share-square-o padding-left" href="javascript:void(0)" onclick="DoShare(35,72);"> 分享</a>
</span>2012-12-10 15:28:32
						</div>
					</div>
				</div>
			</li>


			<li>
				<div class="media media-x">
					<a class="float-left" href="/views/e/space/?userid=1">
						<img src="/public/img/user.jpg" class="radius-circle" style="width:60px;height: 60px;" alt="...">
					</a>
					<div class="media-body">
						<div class="">不知何网<i class="text-gray text-small margin-left margin-right">普通会员</i>
													<span class="badge bg-main">普通会员</span>
												</div>
                                                <div class="text-big padding-top"><strong><a href="/views/news/sports/2012-12-10/71.html" target="_blank">奥运圣火成功登顶珠峰</a></strong></div>
						<div class="content-sns-text text-big height">
							奥运火炬、接力珠峰传递活动圆满结束，携带圣火的突击队员全部登顶，并进行了圣火的传递。圣火在珠峰之巅传递，首次成功点亮世界最高峰，创造了奥运圣火登上世界第三极的新纪录。
						</div>
						<div class="text-gray">
<span class="text-gray text-small float-right">
<a class="text-gray icon-thumbs-o-up padding-left text-yellow" href="javascript:void(0)" onclick="DoDigg(37,71,1);"> 顶 (<span class="diggtop71">0</span>)</a>
<a class="text-gray icon-thumbs-o-down padding-left" href="javascript:void(0)" onclick="DoDigg(37,71,0);"> 踩(<span class="diggdown71">[!--diggdown--]</span>)</a>
<a class="text-gray padding-left icon-comment-o" href="/views/e/pl/?classid=37&id=71#plbox" target="_blank"> 评论(0)</a>
<a class="text-gray icon-smile-o padding-left" href="/views/news/sports/2012-12-10/71.html" target="_blank"> 阅读(1)</a>
<a class="text-gray icon-share-square-o padding-left" href="javascript:void(0)" onclick="DoShare(37,71);"> 分享</a>
</span>2012-12-10 15:28:31
						</div>
					</div>
				</div>
			</li>


			<li>
				<div class="media media-x">
					<a class="float-left" href="/views/e/space/?userid=1">
						<img src="/public/img/user.jpg" class="radius-circle" style="width:60px;height: 60px;" alt="...">
					</a>
					<div class="media-body">
						<div class="">不知何网<i class="text-gray text-small margin-left margin-right">普通会员</i>
													<span class="badge bg-main">普通会员</span>
												</div>
                                                <div class="text-big padding-top"><strong><a href="/views/news/world/2012-12-10/70.html" target="_blank">俄罗斯第三任总统梅德韦杰夫宣誓就职</a></strong></div>
						<div class="content-sns-text text-big height">
							在3月2日俄罗斯总统选举中胜出的当选总统德米特里-梅德韦杰夫, 于当地时间7日12时过后(北京时间下午4时)在克里姆林宫正式宣誓就职，成为俄罗斯第三位总统。
						</div>
						<div class="text-gray">
<span class="text-gray text-small float-right">
<a class="text-gray icon-thumbs-o-up padding-left text-yellow" href="javascript:void(0)" onclick="DoDigg(35,70,1);"> 顶 (<span class="diggtop70">0</span>)</a>
<a class="text-gray icon-thumbs-o-down padding-left" href="javascript:void(0)" onclick="DoDigg(35,70,0);"> 踩(<span class="diggdown70">[!--diggdown--]</span>)</a>
<a class="text-gray padding-left icon-comment-o" href="/views/e/pl/?classid=35&id=70#plbox" target="_blank"> 评论(0)</a>
<a class="text-gray icon-smile-o padding-left" href="/views/news/world/2012-12-10/70.html" target="_blank"> 阅读(2)</a>
<a class="text-gray icon-share-square-o padding-left" href="javascript:void(0)" onclick="DoShare(35,70);"> 分享</a>
</span>2012-12-10 15:28:30
						</div>
					</div>
				</div>
			</li>


			<li>
				<div class="media media-x">
					<a class="float-left" href="/views/e/space/?userid=1">
						<img src="/public/img/user.jpg" class="radius-circle" style="width:60px;height: 60px;" alt="...">
					</a>
					<div class="media-body">
						<div class="">不知何网<i class="text-gray text-small margin-left margin-right">普通会员</i>
													<span class="badge bg-main">普通会员</span>
												</div>
                                                <div class="text-big padding-top"><strong><a href="/views/news/china/2012-12-10/69.html" target="_blank">广东丹霞山发现巨型"青铜剑"(组图)</a></strong></div>
						<div class="content-sns-text text-big height">
							“青铜剑”“镶嵌”在晒布岩岩壁上。“青铜剑”疑似绿色植物攀附在岩壁上生长。记者陪同远道而来的朋友游览世界地质公园广东丹霞山，在阳元石景区内，突然发现一把青铜剑
						</div>
						<div class="text-gray">
<span class="text-gray text-small float-right">
<a class="text-gray icon-thumbs-o-up padding-left text-yellow" href="javascript:void(0)" onclick="DoDigg(34,69,1);"> 顶 (<span class="diggtop69">0</span>)</a>
<a class="text-gray icon-thumbs-o-down padding-left" href="javascript:void(0)" onclick="DoDigg(34,69,0);"> 踩(<span class="diggdown69">[!--diggdown--]</span>)</a>
<a class="text-gray padding-left icon-comment-o" href="/views/e/pl/?classid=34&id=69#plbox" target="_blank"> 评论(0)</a>
<a class="text-gray icon-smile-o padding-left" href="/views/news/china/2012-12-10/69.html" target="_blank"> 阅读(63)</a>
<a class="text-gray icon-share-square-o padding-left" href="javascript:void(0)" onclick="DoShare(34,69);"> 分享</a>
</span>2012-12-10 15:28:29
						</div>
					</div>
				</div>
			</li>

		</ul>
</div>					</div>
				</div>
				<div class="xl12 xs12 xm6 xb3">
					<div class="panel bg-white">
						<div class="panel-body">
							<div class="media media-y">
								<a href="#">
									<img src="/public/img/user.jpg" class="radius-circle" style="width:120px;height: 120px;" alt="...">
								</a>
								<div class="media-body">
									<h3 class="padding">indiboy</h3>
								</div>
							</div>
							<div class="my-other-info border-top padding text-center">
								<span class="grade">等级: 1</span>
								<span class="grade">经验: 2</span>
								<span class="grade">积分: 204</span>
							</div>
							<table class="table table-bordered">
								<tr>
									<td>
										...
									</td>
									<td>
										...
									</td>
								</tr>
								<tr>
									<td>
										...
									</td>
									<td>
										...
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="home-index-right">
						<div class="panel bg-white">
							<div class="panel-head">
								<h3><span>可能感兴趣的人</span><small class="float-right">更多</small></h3></div>
							<div class="related-user panel-body">
								<ul>
									<li>
										<div class="media media-x">
											<a class="float-left" href="/views/e/space/?userid=102">
												<img src="/views/e/data/images/nouserpic.gif" class="radius-circle" style="width:50px;height: 50px;" alt="酒井法子">
											</a>
											<div class="media-body">
												<h4 class="padding-small-top"><a href="/views/e/space/?userid=102">酒井法子</a>
													<span class="badge float-right bg-main">普通会员</span>
												</h4>
												<p class="text-gray">爱情本来并不复杂，来来...</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media-x">
											<a class="float-left" href="/views/e/space/?userid=101">
												<img src="/views/e/data/images/nouserpic.gif" class="radius-circle" style="width:50px;height: 50px;" alt="selina">
											</a>
											<div class="media-body">
												<h4 class="padding-small-top"><a href="/views/e/space/?userid=101">selina</a>
													<span class="badge float-right bg-main">普通会员</span>
												</h4>
												<p class="text-gray">假如你问我该不该结婚...</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media-x">
											<a class="float-left" href="/views/e/space/?userid=100">
												<img src="/views/e/data/images/nouserpic.gif" class="radius-circle" style="width:50px;height: 50px;" alt="韩红">
											</a>
											<div class="media-body">
												<h4 class="padding-small-top"><a href="/views/e/space/?userid=100">韩红</a>
													<span class="badge float-right bg-main">普通会员</span>
												</h4>
												<p class="text-gray">因为爱过，所以慈悲；因为...</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media-x">
											<a class="float-left" href="/views/e/space/?userid=99">
												<img src="/views/e/data/images/nouserpic.gif" class="radius-circle" style="width:50px;height: 50px;" alt="王心凌">
											</a>
											<div class="media-body">
												<h4 class="padding-small-top"><a href="/views/e/space/?userid=99">王心凌</a>
													<span class="badge float-right bg-main">普通会员</span>
												</h4>
												<p class="text-gray">我爱我的祖国，爱我的人...</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media-x">
											<a class="float-left" href="/views/e/space/?userid=98">
												<img src="/views/e/data/images/nouserpic.gif" class="radius-circle" style="width:50px;height: 50px;" alt="贾青">
											</a>
											<div class="media-body">
												<h4 class="padding-small-top"><a href="/views/e/space/?userid=98">贾青</a>
													<span class="badge float-right bg-main">普通会员</span>
												</h4>
												<p class="text-gray">爱情往往是结婚的果实...</p>
											</div>
										</div>
									</li>
									<li>
										<div class="media media-x">
											<a class="float-left" href="/views/e/space/?userid=97">
												<img src="/views/e/data/images/nouserpic.gif" class="radius-circle" style="width:50px;height: 50px;" alt="卓依婷">
											</a>
											<div class="media-body">
												<h4 class="padding-small-top"><a href="/views/e/space/?userid=97">卓依婷</a>
													<span class="badge float-right bg-main">普通会员</span>
												</h4>
												<p class="text-gray">爱是亘古长明的灯塔，它...</p>
											</div>
										</div>
									</li>
								</ul>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<br />
<div class="layout copyright text-center padding-big text-small">版权所有 不知何网</div>
		<script src="/public/js/layui.js"></script>
		<script src="/public/js/bottom.js"></script>
	</body>

</html>