{extend name="main" /}
{block name="body"}
<div class="layout">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <div class="padding border-bottom">
			<div class="button-toolbar">
				<div class="button-group">
            		<a class="button border-green icon-home" href="{:url('index/enewsmember/index')}"> 用户管理</a>
            		<button type="button" class="button border-green icon-edit" disabled="disabled"> 用户状态</button>
				</div>
			</div>
		</div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form form-container" action="{:url('index/enewsmember/update')}" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-block">
                            <input type="text" name="username" value="{$enewsmember.username}" required  lay-verify="required" placeholder="请输入用户名" class="layui-input" disabled>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <input type="radio" name="checked" value="1" title="启用" {if condition="$enewsmember.checked==1"} checked="checked"{/if}>
                            <input type="radio" name="checked" value="0" title="禁用" {if condition="$enewsmember.checked==0"} checked="checked"{/if}>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="hidden" name="userid" value="{$enewsmember.userid}">
                            <button class="layui-btn" lay-submit lay-filter="*">更新</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}