{extend name="main" /}
{block name="css"}
<link rel="stylesheet" href="/public/css/ztree-metro-style.css">
{/block}
{block name="body"}
<div class="layout">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <div class="padding border-bottom">
			<div class="button-toolbar">
				<div class="button-group">
            		<a class="button border-green icon-home" href="{:url('ucenter/enewsmembergroup/index')}"> 权限组</a>
            		<button type="button" class="button border-green icon-edit" disabled="disabled"> 编辑权限组</button>
				</div>
			</div>
		</div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <ul id="tree" class="ztree"></ul>
            </div>
        </div>
        <input type="hidden" id="group_id" name="groupid" value="{$groupid}">
        <button class="layui-btn" id="auth-btn">授权</button>
    </div>
</div>
{/block}
{block name="js"}
<script src="/public/js/jquery.ztree.all.min.js"></script>
{/block}
{block name="script"}
<script>
    $(document).ready(function(){
        /**
         * 加载树形授权菜单
         */
        var _groupid = $("#group_id").val();
        var tree = $("#tree");
        var zTree;

        // zTree 配置项
        var setting = {
            check: {
                enable: true
            },
            view: {
                dblClickExpand: false,
                showLine: true,
                showIcon: false,
                selectedMulti: false
            },
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "pid",
                    rootpid: ""
                },
                key: {
                    name: "title"
                }
            }
        };

        $.ajax({
            url: "{:url('ucenter/enewsmembergroup/getJson')}",
            type: "post",
            dataType: "json",
            cache: false,
            data: {
                groupid: _groupid
            },
            success: function (data) {
                zTree = $.fn.zTree.init(tree, setting, data);
            }
        });

        /**
         * 授权提交
         */
        $("#auth-btn").on("click", function () {
            var checked_ids,auth_rule_ids = [];
            checked_ids = zTree.getCheckedNodes(); // 获取当前选中的checkbox
            $.each(checked_ids, function (index, item) {
                auth_rule_ids.push(item.id);
            });
            $.ajax({
                url: "{:url('ucenter/enewsmembergroup/updateAuthGroupRule')}",
                type: "post",
                cache: false,
                data: {
                    groupid: _groupid,
                    auth_rule_ids: auth_rule_ids
                },
                success: function (data) {
                    if(data.code === 1){
                        setTimeout(function () {
                            location.href = data.url;
                        }, 1000);
                    }
                    layer.msg(data.msg);
                }
            });
        });
    });
</script>
{/block}