{extend name="main" /} {block name="body"}
<link href="/public/treetable/jquery.treetable.css" rel="stylesheet" type="text/css" />
<link href="/public/treetable/jquery.treetable.theme.default.css" rel="stylesheet" type="text/css" />
<div class="layout">
	<!--tab标签-->
	<div class="layui-tab layui-tab-brief">
		<div class="padding border-bottom">
			<div class="button-toolbar">
				<div class="button-group">
					<a class="button border-green icon-home"  href="{:url('admin/admin_email/index')}"> 邮件模板管理</a>
					<a class="button border-green icon-plus" href="{:url('admin/admin_email/add')}"> 添加邮件模板</a>
				</div>
			</div>
		</div>
		<div class="layui-tab-content">
			<div class="layui-tab-item layui-show">
				<div class="table-responsive">
					<table class="table table-hover table-bordered" id="example-basic">
						<thead>
							<tr>
								<th>模板名称</th>
								<th>ID</th>
								<th>排序</th>
								<th>标题</th>
								<th>附件</th>
								<th>状态</th>
								<th>栏目管理</th>
							</tr>
						</thead>
						<tbody>
							{foreach name="admin_email_level_list" item="vo"} {php}echo $vo['pid']==0 ? '
							<tr data-tt-id="'.$vo['id'].'">' : '
								<tr data-tt-id="'.$vo['id'].'" data-tt-parent-id="'.$vo['pid'].'">';{/php}

									<td><a class="" href="{:url('admin/admin_email/views',['id'=>$vo['id']])}"> {$vo.name}</a></td>
									<td>{$vo.id}</td>
									<td>{$vo.sort}</td>
									<td>{$vo.subject}</td>
									<td>{$vo.attach}</td>
									<td>{$vo.status}</td>
									<td>
										<a href="{:url('admin/admin_email/add',['pid'=>$vo['id']])}" class="layui-btn layui-btn-mini">添加子模板</a>
										<a href="{:url('admin/admin_email/edit',['id'=>$vo['id']])}" class="layui-btn layui-btn-normal layui-btn-mini">编辑</a>
										<a href="{:url('admin/admin_email/delete',['id'=>$vo['id']])}" class="layui-btn layui-btn-danger layui-btn-mini ajax-delete">删除</a>
									</td>
								</tr>
								{/foreach}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>
<script src="/public/treetable/jquery.treetable.js"></script>
<script>
	$("#example-basic").treetable({
		expandable: true
	});
</script>
{/block}